@media screen and (max-width: 1170px) {
  .span-explore,
  .span-artes {
    left: 43%;
  }
}

@media screen and (max-width: 1023px) {
  .caixa-conteudo-explore {
    padding-left: 7.2rem;
    padding-right: 7.2rem;
    padding-bottom: 7.2rem;
  }

  .explore-mais-h2 {
    font-size: 4.5rem;
  }

  .caixa-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .span-explore,
  .span-trilha-sonora,
  .span-artes {
    left: 25%;
    font-size: 3.2rem;
  }

  .produto-explore-img {
    max-width: 87.7rem;
  }
}

@media screen and (max-width: 767px) {
  .caixa-conteudo-explore {
    padding: 3.2rem;
  }

  .explore-mais-h2 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  .caixa-produtos {
    gap: 2rem;
  }
}

@media screen and (max-width: 457px) {
  .span-explore,
  .span-trilha-sonora,
  .span-artes {
    left: 33%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .span-explore,
  .span-trilha-sonora,
  .span-artes {
    left: 40%;
    font-size: 2rem;
  }
}
